.main-nav{
    
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover {
    padding-left: 40px;
    color: #fff;
}

.main-menu {   
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
}

.main-menu a {
    color: rgba(255, 255, 255, 0.50);
}

.main-menu a:hover {
    color: #fff;
}

.main-menu a.active {
    color: #fff;
    font-weight: bold;
}
